@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "poppins", sans-serif;
}

body {
  background-color: #92f192;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px goldenrod;
  padding: 0.0001px 30px;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.navbarItemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  height: 50px;
  margin: 0;
  gap: 10px;
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: goldenrod;
  height: 100%;
  padding: 0.0001px 10px;
  transition: all 0.3s;
  width: 100px;
}

.navItem:hover {
  background-color: black;
  outline: solid 2px goldenrod;
  transform: translateX(10px);
}

.navItem:last-child:hover {
  transform: translateX(-10px);
}

.navItem:hover a {
  color: goldenrod;
}

.h2 {
  display: none;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin: 30px;
  padding: 0.0001px 10px;
  width: 95%;
}

.bookCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  width: 100%;
  padding: 0.0001px 10px;
  border-radius: 10px;
}

.bookTitle {
  font-weight: bold;
}

.remove {
  transition: all 0.3s;
  border-radius: 5px;
  font-weight: bold;
}

.remove:hover {
  transform: translateY(-2px);
}

.remove:active {
  transform: translateY(1px);
}

.addNew {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}

.addBook {
  margin-top: 100px;
  color: black;
}

.addForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text {
  width: 300px;
  height: 30px;
  font-family: 'poppins', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: goldenrod;
  border: solid 1px goldenrod;
  border-radius: 5px;
  padding: 1px 5px;
}

.text:focus {
  outline: solid 1.8px goldenrod;
}

.text::placeholder {
  font-size: 16px;
  padding-left: 2px;
  color: goldenrod;
}

.button {
  width: 50px;
  align-self: flex-end;
  background-color: #53c453;
  color: black;
  font-weight: bold;
  border: solid 1px goldenrod;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.button:hover {
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 1px 1px 10px rgb(221, 185, 25);
  background-color: goldenrod;
}

.button:active {
  transform: translateY(-1px);
  box-shadow: 1px 1px 3px rgb(221, 185, 25);
  background-color: goldenrod;
}

.contactDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactText {
  margin-top: 100px;
}

.p2 {
  align-self: flex-start;
  margin: 0;
  padding: 0;
}

.contactList {
  list-style: square;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  outline: solid 3px goldenrod;
  background-color: #a4f560;
  color: black;
  width: 95%;
  margin: 10px 20px;
  border-radius: 10px;
}

.footerText {
  margin: 15px;
}
