.h2 {
  display: none;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 2px rgb(0, 0, 0);
  margin: 30px;
  padding: 0.0001px 10px;
}

.bookCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  width: 100%;
  padding: 10px;
}

.addNew {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text {
  width: 300px;
}

.button {
  width: 50px;
  align-self: flex-end;
}
